<app-card set="0"></app-card>
<app-card set="0.5"></app-card>
<app-card set="1"></app-card>
<app-card set="2"></app-card>
<app-card color="blue" set="3"></app-card>
<app-card color="blue" set="5"></app-card>
<app-card color="blue" set="8"></app-card>
<app-card color="blue" set="13"></app-card>
<app-card color="purple" set="20"></app-card>
<app-card color="purple" set="40"></app-card>
<app-card color="purple" set="Q"></app-card>
<app-card color="purple" set="100"></app-card>
<app-card color="#223342" set="coffee"></app-card>
<app-card color="#223342" set="inf"></app-card>
