<h4>規劃遊戲</h4>
<ul>
  <li *ngFor="let item of games">{{item.id}} - {{item.players.length}}<button (click)="dropGame(item.id)">刪除</button><button *ngIf="item.id != game?.id" (click)="pickGame(item.id)">Join</button></li>
</ul>
<h4>參加人員</h4>
<ul>
  <li *ngFor="let item of players">
    <button>踢出</button> {{item.name}}<span *ngIf="item.pick == 'not-yet'">(選擇中)</span><span *ngIf="item.name == userName">(您)</span>
  </li>
  <li *ngIf="!isInGame()"><button (click)="addUser()">加入</button> 你<input [(ngModel)]="userName" ><span *ngIf="pick == 'not-yet'">(選擇中)</span></li>
</ul>
<h4>結果是?!?!</h4>
<span *ngFor="let item of players">
  <div *ngIf="item.name != this.userName" style="display: inline-block">
    <app-card color="{{item.color}}" set="{{item.pick}}"></app-card>
    {{item.name}}
  </div>
</span>
<div *ngIf="pick" style="display: inline-block;">
  <app-card  set="{{pick}}"></app-card>
  你({{userName}}) <button (click)="DoCancel()">收回</button>
</div>
<div *ngIf="!pick">
  <h4>出牌</h4>
  <span *ngFor="let item of option">
    <div style="display: inline-block;">
      <app-card  set="{{item}}"></app-card>
      <button (click)="DoPick(item)">出牌</button>
    </div>
  </span>
</div>

