<!-- <h1>DEBUG</h1>
gameID: {{gameId}} <br/>
userName: {{userName}} <br/>
<br/>
games: {{this.games?.length}} <br/>
game: {{this.game}} <br/>
players: {{this.players?.length}} <br/>
player: {{this.GetUser()}} -->
<!-- player: {{this.player}} -->
<!-- <hr> -->
<h3>規劃遊戲</h3>
<button (click)="newGame()">New Game</button> <br>
名字: <input [(ngModel)]="userName"><button *ngIf="!IsJoinGame()" (click)="addUser()">重新加入</button>
<ul>
  <li *ngFor="let item of games">{{item.id}} - {{item.players.length}} players
    <button (click)="dropGame(item.id)">刪除</button>
    <button *ngIf="item.id != gameId" (click)="pickGame(item.id)">Join</button>
  </li>
</ul>
<h4>參加人員</h4>
<ul>
  <li *ngFor="let p of this.players">
    <button (click)="kickUser(p.id)">踢出</button>
    {{p.id}} - {{p.name}}
    <span *ngIf="p.pick == 'not-yet'">(選擇中)</span>
    <span *ngIf="p.name == userName">(您)</span>
  </li>
</ul>
<h4>結果是?!?! </h4>
<div *ngIf="GameSet()">
  <span *ngFor="let item of this.players">
    <div style="display: inline-block">
      <app-card color="{{item.color}}" set="{{item.pick}}"></app-card>
      {{item.name}}
      <button *ngIf="item.name == userName && item.pick != 'not-yet'" (click)="DoCancel()">取消</button>
    </div>
  </span>
</div>
<div *ngIf="!GameSet()">
  <span *ngFor="let item of this.players">
    <div *ngIf="item.name == userName" style="display: inline-block">
      <app-card color="{{item.color}}" set="{{item.pick}}"></app-card>
      {{item.name}}
      <button *ngIf="item.name == userName && item.pick != 'not-yet'" (click)="DoCancel()">取消</button>
    </div>
  </span>
</div>
<!-- <div style="display: inline-block;">
  <app-card  set="{{pick}}"></app-card>
  你({{userName}}) <button (click)="DoCancel()">收回</button>
</div> -->
<div *ngIf="GetUser()?.pick == 'not-yet'">
  <h4>出牌</h4>
  <span *ngFor="let item of option" >
    <div style="display: inline-block;">
      <app-card color="{{GetUser()?.color}}" set="{{item}}"></app-card>
      <button (click)="DoPick(item)">出牌</button>
    </div>
  </span>
</div>

